akka {
  loglevel = INFO
  #loglevel = DEBUG
  actor.debug {
    receive = on
    autoreceive = on
  }
}

spray.can.server {
  request-timeout = 20s
  registration-timeout = 5s
  pipelining-limit = 5
}

VZD {
  ak-file = "tmp/AK\\d{8}\\.zip"
  blacklist = "AW_VIETA_GEO.CSV, AW_IELA_GEO.CSV, AW_VIETA_CENTROID_GEO.CSV, AW_EKA_GEO.CSV"
  init-on-startup = false
  worker-actor-count = 10
  initializer-run-interval = 1h
#  ftp {
#    host = "ftp.vzd.gov.lv"
#    username = "NVA"
#    password = ""
#    path = "VAR_EXPORT/AREXPORT/"
#    dir = "same as workspace above, normally"
#  }
}

port = 8082
