akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"
  loglevel = INFO
  #loglevel = DEBUG
  actor.debug {
    #receive = on
    #autoreceive = on
  }
}

# Configuration for address file. This is valid only if 'db' section is not present.
VZD {
  ak-file = "tmp/AK\\d{8}\\.zip"
  blacklist = "AW_VIETA_GEO.CSV, AW_IELA_GEO.CSV, AW_VIETA_CENTROID_GEO.CSV, AW_EKA_GEO.CSV"
  house-coord-file = "AW_EKA_GEO.CSV"
  initializer-run-interval = 12h
  ftp {
    #host = "ftp.vzd.gov.lv"
    #username = ""
    #password = ""
    #dir = "VAR_EXPORT/AREXPORT/"
  }
}

# Address database configuration for actual and historic addresses. This takes precedence over 'VZD' setting.
db {
  driver = org.postgresql.Driver
  url = <url>
  user = <user>
  password = <password>
  index-dir = <directory where to store address index>
}

port = 8082
