<!doctype html>
<html ng-app="addresses">
  <head>
    <meta charset="utf-8">
    <title>Adrešu serviss</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script -->

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <script src="addresses.js"></script>
    <style type="text/css">
      .address-row {
        cursor: pointer;
      }
    </style>
  </head>
  <body ng-controller="AddressesCtrl">
    <div class="col-sm-offset-1 col-sm-10">
      <h1>Adrešu serviss</h1>
      <p>Versija: <code>{{version}}</code></p>
      <p>
        <p class="checkbox form-inline">
          <label ng-repeat="type in types">
            <input type="checkbox" ng-model="type.selected"
                   ng-change="updateAddress()">&nbsp;{{type.name}}&nbsp;&nbsp;&nbsp;
          </label>
          <label>
            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" ng-model="limit.selected"
                   ng-change="updateAddress()">
            <span ng-class="{'text-muted': !limit.selected}">&nbsp;{{limit.name}}&nbsp;</span>
          </label>
          <input type="number" min="1" max="500" ng-model="limit.value" ng-readonly="!limit.selected"
                 class="form-control input-sm">
        </p>
      </p>
      <p>Pieprasījums: <a href="address?{{urlParams}}" target="_blank"
        ng-if="search.length > 0">address?{{urlParams}}</a></p>
      <input type="text" class="form-control" ng-model="search" ng-change="updateAddress()" ng-model-options="{debounce:300}" placeholder="Meklējamā adrese">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-sm-1">#</th>
            <th class="col-sm-9">Adrese</th>
            <th class="col-sm-2">Kods</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="address in addresses" ng-click="addressClicked(address)" class="address-row">
            <td>{{$index + 1}}</td>
            <td>{{address.address}}</td>
            <td>{{address.code}}</td>
          </tr>
          <tr ng-repeat-end ng-if="address.extended_view">
            <td>&nbsp;</td>
            <td>
              <table class="table table-condensed">
                <tr><td class="col-sm-2">Kods</td><td colspan="2">{{ address.code }}</td></tr>
                <tr><td>Adrese</td><td colspan="2">{{ address.address }}</td></tr>
                <tr><td>Indekss</td><td colspan="2">{{ address.zipCode }}</td></tr>
                <tr><td>Tips</td><td colspan="2">{{ address.typ }}</td></tr>
                <tr><td colspan="3"><strong>Struktūra</strong></td></tr>
                <tr><td>Pilsēta </td><td>{{ address.pilCode }}</td><td>{{ address.pilName }}</td></tr>
                <tr><td>Novads</td><td>{{ address.novCode }}</td><td>{{ address.novName }}</td></tr>
                <tr><td>Pagasts</td><td>{{ address.pagCode }}</td><td>{{ address.pagName }}</td></tr>
                <tr><td>Ciems</td><td>{{ address.cieCode }}</td><td>{{ address.cieName }}</td></tr>
                <tr><td>Iela</td><td>{{ address.ielCode }}</td><td>{{ address.ielName }}</td></tr>
                <tr><td>Māja</td><td>{{ address.nltCode }}</td><td>{{ address.nltName }}</td></tr>
                <tr><td>Dzīvoklis</td><td>{{ address.dzvCode }}</td><td>{{ address.dzvName }}</td></tr>
              </table>
            </td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
