<!doctype html>
<html ng-app="addresses">
  <head>
    <meta charset="utf-8">
    <title>Adrešu serviss</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script -->

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <script src="addresses.js"></script>
  </head>
  <body ng-controller="AddressesCtrl">
    <div class="col-sm-offset-1 col-sm-10">
      <h1>Adrešu serviss</h1>
      <p>Versija: <code>{{version}}</code></p>
      <p>
        <span ng-repeat="type in types">
          <input type="checkbox" value="{{type.name}}" ng-model="type.selected"
                 ng-change="updateAddress()">&nbsp{{type.nosaukums}}&nbsp&nbsp&nbsp</input>
        </span>
      </p>
      <p>Pieprasījums: <a href="address?{{urlParams}}" target="_blank"
        ng-if="search.length > 0">address?{{urlParams}}</a></p>
      <input type="text" class="form-control" ng-model="search" ng-change="updateAddress()" ng-model-options="{debounce:300}" placeholder="Meklējamā adrese">
      <table class="table col-sm-12">
        <thead>
          <tr>
            <th class="col-sm-1">#</th>
            <th class="col-sm-9">Adrese</th>
            <th class="col-sm-2">Kods</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="address in addresses">
            <td class="col-sm-1">{{$index + 1}}</td>
            <td class="col-sm-9">{{address.address}}</td>
            <td class="col-sm-2">{{address.code}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
