<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/aaa_test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyy-MM-dd--HH-mm-ss"/>

    <!-- Webserver logger -->
    <logger name="akka" level="info"/>
    <!-- Tresql statement logger (debug level logs statements) -->
    <logger name="org.tresql" level="info"/>
    <!-- Sql statement logger -->
    <logger name="org.tresql.db" level="info"/>
    <!-- Sql statement logger (debug level) with parameters in sql string (used for copy paste in db client tool). -->
    <logger name="org.tresql.sql_with_params" level="debug"/>
    <!-- Connection pool logger -->
    <logger name="com.zaxxer.hikari" level="info"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
    </root>
</configuration>
